
db/data/#ib_16384_0.dblwr
db/data/#ib_16384_1.dblwr
db/data/#innodb_temp/temp_1.ibt
db/data/#innodb_temp/temp_10.ibt
db/data/#innodb_temp/temp_2.ibt
db/data/#innodb_temp/temp_3.ibt
db/data/#innodb_temp/temp_4.ibt
db/data/#innodb_temp/temp_5.ibt
db/data/#innodb_temp/temp_6.ibt
db/data/#innodb_temp/temp_7.ibt
db/data/#innodb_temp/temp_8.ibt
db/data/#innodb_temp/temp_9.ibt
db/data/app_db/sys_aluno.ibd
db/data/app_db/sys_classe.MYD
db/data/app_db/sys_classe.MYI
db/data/app_db/sys_classe_395.sdi
db/data/app_db/sys_curso.ibd
db/data/app_db/sys_dashboard.ibd
db/data/app_db/sys_departamento.MYD
db/data/app_db/sys_departamento.MYI
db/data/app_db/sys_departamento_398.sdi
db/data/app_db/sys_empresa.MYD
db/data/app_db/sys_empresa.MYI
db/data/app_db/sys_empresa_399.sdi
db/data/app_db/sys_logado.MYD
db/data/app_db/sys_logado.MYI
db/data/app_db/sys_logado_400.sdi
db/data/app_db/sys_matricula.ibd
db/data/app_db/sys_sistema.MYD
db/data/app_db/sys_sistema.MYI
db/data/app_db/sys_sistema_402.sdi
db/data/app_db/sys_usuario.MYD
db/data/app_db/sys_usuario.MYI
db/data/app_db/sys_usuario_403.sdi
db/data/auto.cnf
db/data/binlog.000001
db/data/binlog.000002
db/data/binlog.000003
db/data/binlog.index
db/data/ca-key.pem
db/data/ca.pem
db/data/client-cert.pem
db/data/client-key.pem
db/data/ib_buffer_pool
db/data/ib_logfile0
db/data/ib_logfile1
db/data/ibdata1
db/data/ibtmp1
db/data/mysql.ibd
db/data/mysql.sock
db/data/mysql.sock.lock
db/data/mysql/general_log.CSM
db/data/mysql/general_log.CSV
db/data/mysql/general_log_213.sdi
db/data/mysql/slow_log.CSM
db/data/mysql/slow_log.CSV
db/data/mysql/slow_log_214.sdi
db/data/performance_schema/accounts_145.sdi
db/data/performance_schema/binary_log_trans_189.sdi
db/data/performance_schema/cond_instances_82.sdi
db/data/performance_schema/data_lock_waits_161.sdi
db/data/performance_schema/data_locks_160.sdi
db/data/performance_schema/error_log_83.sdi
db/data/performance_schema/events_errors_su_139.sdi
db/data/performance_schema/events_errors_su_140.sdi
db/data/performance_schema/events_errors_su_141.sdi
db/data/performance_schema/events_errors_su_142.sdi
db/data/performance_schema/events_errors_su_143.sdi
db/data/performance_schema/events_stages_cu_111.sdi
db/data/performance_schema/events_stages_hi_112.sdi
db/data/performance_schema/events_stages_hi_113.sdi
db/data/performance_schema/events_stages_su_114.sdi
db/data/performance_schema/events_stages_su_115.sdi
db/data/performance_schema/events_stages_su_116.sdi
db/data/performance_schema/events_stages_su_117.sdi
db/data/performance_schema/events_stages_su_118.sdi
db/data/performance_schema/events_statement_119.sdi
db/data/performance_schema/events_statement_120.sdi
db/data/performance_schema/events_statement_121.sdi
db/data/performance_schema/events_statement_122.sdi
db/data/performance_schema/events_statement_123.sdi
db/data/performance_schema/events_statement_124.sdi
db/data/performance_schema/events_statement_125.sdi
db/data/performance_schema/events_statement_126.sdi
db/data/performance_schema/events_statement_127.sdi
db/data/performance_schema/events_statement_128.sdi
db/data/performance_schema/events_statement_129.sdi
db/data/performance_schema/events_statement_130.sdi
db/data/performance_schema/events_transacti_131.sdi
db/data/performance_schema/events_transacti_132.sdi
db/data/performance_schema/events_transacti_133.sdi
db/data/performance_schema/events_transacti_134.sdi
db/data/performance_schema/events_transacti_135.sdi
db/data/performance_schema/events_transacti_136.sdi
db/data/performance_schema/events_transacti_137.sdi
db/data/performance_schema/events_transacti_138.sdi
db/data/performance_schema/events_waits_cur_84.sdi
db/data/performance_schema/events_waits_his_85.sdi
db/data/performance_schema/events_waits_his_86.sdi
db/data/performance_schema/events_waits_sum_87.sdi
db/data/performance_schema/events_waits_sum_88.sdi
db/data/performance_schema/events_waits_sum_89.sdi
db/data/performance_schema/events_waits_sum_90.sdi
db/data/performance_schema/events_waits_sum_91.sdi
db/data/performance_schema/events_waits_sum_92.sdi
db/data/performance_schema/file_instances_93.sdi
db/data/performance_schema/file_summary_by__94.sdi
db/data/performance_schema/file_summary_by__95.sdi
db/data/performance_schema/global_status_181.sdi
db/data/performance_schema/global_variables_184.sdi
db/data/performance_schema/host_cache_96.sdi
db/data/performance_schema/hosts_146.sdi
db/data/performance_schema/keyring_componen_191.sdi
db/data/performance_schema/keyring_keys_152.sdi
db/data/performance_schema/log_status_174.sdi
db/data/performance_schema/memory_summary_b_154.sdi
db/data/performance_schema/memory_summary_b_155.sdi
db/data/performance_schema/memory_summary_b_156.sdi
db/data/performance_schema/memory_summary_b_157.sdi
db/data/performance_schema/memory_summary_g_153.sdi
db/data/performance_schema/metadata_locks_159.sdi
db/data/performance_schema/mutex_instances_97.sdi
db/data/performance_schema/objects_summary__98.sdi
db/data/performance_schema/performance_time_99.sdi
db/data/performance_schema/persisted_variab_187.sdi
db/data/performance_schema/prepared_stateme_175.sdi
db/data/performance_schema/processlist_100.sdi
db/data/performance_schema/replication_appl_165.sdi
db/data/performance_schema/replication_appl_166.sdi
db/data/performance_schema/replication_appl_167.sdi
db/data/performance_schema/replication_appl_168.sdi
db/data/performance_schema/replication_appl_170.sdi
db/data/performance_schema/replication_appl_171.sdi
db/data/performance_schema/replication_asyn_172.sdi
db/data/performance_schema/replication_asyn_173.sdi
db/data/performance_schema/replication_conn_162.sdi
db/data/performance_schema/replication_conn_164.sdi
db/data/performance_schema/replication_grou_163.sdi
db/data/performance_schema/replication_grou_169.sdi
db/data/performance_schema/rwlock_instances_101.sdi
db/data/performance_schema/session_account__151.sdi
db/data/performance_schema/session_connect__150.sdi
db/data/performance_schema/session_status_182.sdi
db/data/performance_schema/session_variable_185.sdi
db/data/performance_schema/setup_actors_102.sdi
db/data/performance_schema/setup_consumers_103.sdi
db/data/performance_schema/setup_instrument_104.sdi
db/data/performance_schema/setup_objects_105.sdi
db/data/performance_schema/setup_threads_106.sdi
db/data/performance_schema/socket_instances_147.sdi
db/data/performance_schema/socket_summary_b_148.sdi
db/data/performance_schema/socket_summary_b_149.sdi
db/data/performance_schema/status_by_accoun_177.sdi
db/data/performance_schema/status_by_host_178.sdi
db/data/performance_schema/status_by_thread_179.sdi
db/data/performance_schema/status_by_user_180.sdi
db/data/performance_schema/table_handles_158.sdi
db/data/performance_schema/table_io_waits_s_107.sdi
db/data/performance_schema/table_io_waits_s_108.sdi
db/data/performance_schema/table_lock_waits_109.sdi
db/data/performance_schema/threads_110.sdi
db/data/performance_schema/tls_channel_stat_190.sdi
db/data/performance_schema/user_defined_fun_188.sdi
db/data/performance_schema/user_variables_b_176.sdi
db/data/performance_schema/users_144.sdi
db/data/performance_schema/variables_by_thr_183.sdi
db/data/performance_schema/variables_info_186.sdi
db/data/private_key.pem
db/data/public_key.pem
db/data/server-cert.pem
db/data/server-key.pem
db/data/sys/sys_config.ibd
db/data/undo_001
db/data/undo_002
